/** Home Screen **/

.homeScreenList > div {
    width: 100%;
}

.homeScreenList .btnC {
    cursor: pointer; 
    float: left;
}

.homeScreenList .btn {
     border: 2px solid transparent;
    -webkit-border-radius: 12px;
}

.homeScreenList .btn.gls {
    background: transparent url(images/Android/homescreen/glass.png) repeat-x 0px 50%;
}

.homeScreenList .btn.drop {
    -webkit-box-shadow: 0 0 14px #000;
}

.homeScreenList .btn > div {
     background: transparent 10px 50% no-repeat;
     height: 100%;
}

.homeScreenList > div > div.clear-me {
	clear: both;
	height: 0;
}


.homeScreenList.cols1 .btnC {
    width: 100%;   
}

.rootLandscape .homeScreenList.cols1 .btnC {
	width: 50%;
}

.homeScreenList.cols1 .btn {
    margin: 30px 5%;
    min-height: 110px;
    width: 90%;
}

.rootLandscape .homeScreenList.cols1 > div > div:nth-child(odd) .btn {
    margin-left: 6%;
    margin-right: 4%;
}

.rootLandscape .homeScreenList.cols1 > div > div:nth-child(even) .btn {
    margin-left: 4%;
    margin-right: 6%;
}

.homeScreenList.cols1 > div > div:nth-child(1) .btn,
.rootLandscape .homeScreenList.cols1 > div > div:nth-child(2) .btn {
	margin-top: 60px;
}

.homeScreenList.cols1 .btnC .btn > div > div {
	height: 110px;
    line-height: 110px;
	overflow: hidden;
    padding: 0 20px 0 91px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.homeScreenList.cols1 .btn .ttl {
    font-size: 2.5em;
}


.homeScreenList.cols2 > div > div {
    width: 50%;
}

.rootLandscape .homeScreenList.cols2 > div > div {
    width: 33%;
}

.homeScreenList.cols2 > div > div.ttl {
	text-align: middle;
}

.homeScreenList.cols2 div .btn {
    height: 140px;
    margin: 20px auto 60px;
    text-align: center;
    width: 140px;
}
.homeScreenList.cols2 div .btn > div,
.homeScreenList.cols3 div .btn > div {
	    background-position: 50% 50%;
}

.rootLandscape .homeScreenList.cols2 div .btn {
    margin-bottom: 45px;
}

.homeScreenList.cols2 > div > .btnC:nth-child(1) .btn,
.homeScreenList.cols2 > div > .btnC:nth-child(2) .btn {
    margin-top: 45px;
}

.rootLandscape .homeScreenList.cols2 > div > .btnC:nth-child(1) .btn,
.rootLandscape .homeScreenList.cols2 > div > .btnC:nth-child(2) .btn,
.rootLandscape .homeScreenList.cols2 > div > .btnC:nth-child(3) .btn {
	margin-top: 20px;
}

.homeScreenList.cols2 .ttl {
    font-size: 1.5em;
    height: 2em;
    overflow: hidden;
    width: 140px;
    -webkit-transform: translateY(150px);
}



.homeScreenList.cols3 > div > .btnC {
    width: 33%;
}

.rootLandscape .homeScreenList.cols3 > div > .btnC {
    width: 25%;
}

.homeScreenList.cols3 > div > div:nth-child(1) .btn,
.homeScreenList.cols3 > div > div:nth-child(2) .btn,
.homeScreenList.cols3 > div > div:nth-child(3) .btn,
.rootLandscape .homeScreenList.cols3 > div > div:nth-child(4) .btn {
    margin-top: 30px;
}

.homeScreenList.cols3 div .btn {
    background-position: 50% 50%;
	height: 78px;
    margin: 20px auto 60px;
    text-align: center;
    width: 73px;
}

.rootLandscape .homeScreenList.cols3 div .btn {
	margin-bottom: 35px;
}

.homeScreenList.cols3 div .ttl {
    height: 2em;
    overflow: hidden;
    width: 73px;
    white-space: normal;
    -webkit-transform: translateY(88px);
}



.homeScreenList .btn .ic2048 {
    background-image: url(images/Android/homescreen/folder_hs.png);
}

.homeScreenList .btn .ic2048 .disabled {
    background-image: url(images/Android/homescreen/folder_hs_gray.png);
}

.homeScreenList .btn .ic3 {
    background-image: url(images/Android/homescreen/favorites.png);
}

.homeScreenList .btn .ic4 {
    background-image: url(images/Android/homescreen/settings.png);
}

.homeScreenList .btn .ic5 {
    background-image: url(images/Android/homescreen/shared_library.png);
}

.homeScreenList .btn .ic5 .disabled {
    background-image: url(images/Android/homescreen/shared_library_gray.png);
}

.homeScreenList .btn .ic6 {
    background-image: url(images/Android/homescreen/help.png);
}

.homeScreenList .btn .ic14081 {
    background-image: url(images/Android/homescreen/document_hs.png);
}

.homeScreenList .btn .ic14081 .disabled {
    background-image: url(images/Android/homescreen/document_hs_gray.png);
}

.homeScreenList .btn .ic769 {
    background-image: url(images/Android/homescreen/graph_hs.png);
}

.homeScreenList .btn .ic769 .disabled {
    background-image: url(images/Android/homescreen/graph_hs_gray.png);
}

.homeScreenList .btn .ic768,
.homeScreenList .btn .ic774 {
    background-image: url(images/Android/homescreen/grid_hs.png);
}


.homeScreenList .btn .ic768 .disabled,
.homeScreenList .btn .ic774 .disabled {
    background-image: url(images/Android/homescreen/grid_hs_gray.png);
}

/* End Home Screen */

/** Interactive Grid **/
.mstrmojo-InteractiveGrid .iggroup {
    font-size: 14pt !important;
}
.mstrmojo-InteractiveGrid .stack-top > span,
.mstrmojo-InteractiveGrid .stack-top {
    font-size: 14pt !important;
}

.mstrmojo-InteractiveGrid .stack-middle > span,
.mstrmojo-InteractiveGrid .stack-middle {
    font-size: 13pt !important;
}

.mstrmojo-InteractiveGrid .stack-bottom > span,
.mstrmojo-InteractiveGrid .stack-bottom {
    font-size: 12pt !important;
}
/** End Interactive Grid **/