
/* Xtab hover hiliting */
.hl:hover {
    background-image: url(images/xtabcell-hover.gif) !important;
    background-repeat: repeat-x !important;
    background-position: left bottom !important;
    background-color: #E0E9F7 !important;
    border-color: #E0E9F7 !important;
}

/* Transaction */

.mstrmojo-EditButton {
	position:absolute;
	top:-16px;
	left:0px;
	width: 16px;
	height: 16px;
	background-image: url(images/expand.png);
	z-index: 1;
}

.mstrmojo-EditButton.close {
	background-image: url(images/collapse.png);
}

.mstrmojo-OIVMDICPopup {
	position:absolute;
	z-index: 100;
	overflow: visible;
	background-color: #E6E6E6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	border-right: 1px solid #ADAAAD;
	border-bottom: 1px solid #ADAAAD;
}

.mstrmojo-OIVMDICPopup .boxtip {
	top: 61px;
	height:15px;
	width:27px;
	background-image: url(images/bottomTip.png); 
	background-repeat: no-repeat;
}
.mstrmojo-OIVMDICPopup .boxtip.up {
    background-image: url(images/topTip.png);
    top: -15px; 
}

.mstrmojo-OIVMDICPopup .mstrmojo-TimePicker {
	padding-top: 1px;
}

.mstrmojo-Button.stepper {
	height: 8px !important;
	width: 15px !important;
	border: 1px solid #949494; 
	background-color: #f1f1f1;
	background-position:center 2px;
}

.mstrmojo-Button.stepper:hover {
	border: 1px solid #3c7fb1; 
	background-color: #b0dbf7; 
}

.mstrmojo-Button.stepper.down {
	background-image: url(images/arrow_blk_down_5x7.gif);
	background-repeat: no-repeat;
}

.mstrmojo-Button.stepper.up {
	background-image: url(images/arrow_blk_up_5x7.gif);
	background-repeat: no-repeat;
}

.mstrmojo-Clock-time {
	width: 157px;
	height: 157px;
	background-image: url(images/clockbg.png);
	background-repeat: no-repeat;
	background-position: center center; 
	background-color: #E7E7E7;
}

.mstrmojo-OIVMDICPopup > DIV {
	padding-left: 1px;
	padding-top: 1px;
	position: absolute;
}

.mstrmojo-OIVMDICPopup .toolbar {
	right:0px;
	z-index:2;
}

.mstrmojo-OIVMDICPopup.inline {
	padding: 0px;
}

.mstrmojo-OIVMDICPopup.inline .toolbar,
.mstrmojo-OIVMDICPopup.inline .boxtip,
.mstrmojo-OIVMDICPopup.below .boxtip {
	display: none;
}

.mstrmojo-OIVMDICPopup.above {
	padding: 6px 6px 11px 6px;
}

.mstrmojo-OIVMDICPopup .tbApply .mstrmojo-Button-text {
    background-position: -33px 0;
}

.mstrmojo-OIVMDICPopup .tbApply.greyed .mstrmojo-Button-text {
    background-position: left 0;
}

.mstrmojo-OIVMDICPopup .tbCancel .mstrmojo-Button-text {
    background-position: right 0;
}

.mstrmojo-OIVMDICPopup .mstrmojo-oivmSprite .mstrmojo-Button-text {
    background-image: url(images/apply_cancel.png);
    background-repeat: no-repeat;		
}

.mstrmojo-OIVMDICPopup .mstrmojo-ToolBar {
	padding-right: 6px;
}

.mstrmojo-OIVMDICPopup .mstrmojo-Button {
	width: 27px;
	height: 26px;	
}

.mstrmojo-OIVMDICPopup .mstrmojo-VBox {
	padding-top:6px; 
}


.dataInputControl TEXTAREA,
.dataInputControl INPUT {
	background-color: #FFFFCC;
	border-color: #B5B8C8;
}

/*SwitchBox*/
.mstrmojo-SwitchBox {
	height: 27px; 
	width: 94px; 
	position: relative; 
	overflow: hidden;
	background-image: url(images/iphone_switch_container_off.png);
}

.mstrmojo-SwitchBox img {
	display: block;
	height: 27px; 
	width: 188px;
	position: absolute; 
	background-image: url(images/iphone_switch.png);
}

/*RatingBox*/
.mstrmojo-RatingWrapper {
	height: 13px;
	width: 80px;
	position: relative;
	white-space: nowrap;
}

.mstrmojo-RatingWrapper .ratingBox {
	cursor: pointer;
	position: absolute;
	width: 13px;
	height: 12px;
}

.mstrmojo-RatingWrapper .starRatingBox_0 {
	left: 0px;
	top: 0px;
}

.mstrmojo-RatingWrapper .starRatingBox_1 {
	left: 15px;
	top: 0px;
}

.mstrmojo-RatingWrapper .starRatingBox_2 {
	left: 28px;
	top: 0px;
}

.mstrmojo-RatingWrapper .starRatingBox_3 {
	left: 43px;
	top: 0px;
}

.mstrmojo-RatingWrapper .starRatingBox_4 {
	left: 54px;
	top: 0px;
}

.mstrmojo-RatingWrapper .starRatingBox_5 {
	left: 67px;
	top: 0px;
}

.mstrmojo-swSprite {
	background: url(images/amazon.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.mstrmojo-swSprite span {
	margin-top: -2px;
	left: 78px;
	position: absolute;
	font-weight: bold;
}
	
.mstrmojo-swSprite.blueClearX {
	background-position: -170px 0;
	overflow: hidden;
	height: 12px;
	width: 12px;	
}

.mstrmojo-swSprite.clearRating {
	margin-right: 3px;
}

.mstrmojo-swSprite.blueStar {
	background-position: -255px 0;
	height: 13px;
	width: 65px;
}

/*Slider*/
.mstrmojo-PopupSlider {
	text-align: inherit;
	margin-top: 6px;
}

.mstrmojo-PopupSlider .mstrmojo-Slider {
	margin-top: 0px;
}

.mstrmojo-PopupSlider .valueText {
	white-space:nowrap;
	overflow:visible;
	width:30px;
	text-align:left;
	font-weight:bold;
	padding-left:4px;
}

.mstrmojo-PopupSlider .minText {
	padding-right:6px;
	padding-top:1px;
	text-align:right;
}

.mstrmojo-PopupSlider .maxText {
	padding-left:3px;
	text-align:left;
	padding-top:1px;
}

.mstrmojo-PopupSlider .sliderPart {
	margin: 5px 10px 3px;
	white-space: nowrap;
}

.mstrmojo-SliderGroup {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	text-align:	inherit;
}

.mstrmojo-SliderGroup .mstrmojo-Slider {
	position: relative;
	margin-top: 3px;
}

.mstrmojo-SliderGroup .valuePart {
	position: absolute;
	width: 40%;
	left: 0px;
}

.mstrmojo-SliderGroup .sliderPart {
	position: absolute;
	margin-left: 40%;
}

.mstrmojo-SliderGroup .valueLabel,
.mstrmojo-SliderGroup .minText,
.mstrmojo-SliderGroup .maxText {
	display: none;
}

.mstrmojo-SliderGroup .valueText {
	font-size:inherit;
	text-align:inherit;
	margin-right:5px;
}

.mstrmojo-SliderGroup .mstrmojo-Slider {
	width:auto;
	height:auto;
	text-align:left;
}

.mstrmojo-PopupSlider .mstrmojo-Slider.sc-h .t2,
.mstrmojo-SliderGroup .mstrmojo-Slider.sc-h .t2 {
	top: -5px;
}


.mstrmojo-SliderGroup .sc1 .sd .t2,
.mstrmojo-PopupSlider .sc1 .sd .t2 {
      background: transparent url(images/slider_dot.png) 0 0 no-repeat;
      cursor: pointer;
      position: absolute;
}

.mstrmojo-Slider.unset .sd .t2 {
      background: transparent url(images/outofrange.png) 0 0 no-repeat;
      cursor: pointer;
      position: absolute;
}

.mstrmojo-SliderGroup .sc-h.sc1 .sd .t2,
.mstrmojo-PopupSlider .sc-h.sc1 .sd .t2{
      height: 15px;
      width: 15px;
}

/* Elastic Textarea */

.mstrmojo-ElasticTextArea {
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    padding: 2px 5px 2px 2px;
	-moz-border-radius: 5px;    
    -moz-box-shadow: 5px 5px 5px #999999;
	-webkit-box-shadow: 5px 5px 5px #999999;
	box-shadow: 5px 5px 5px #999999;
	background: #999; /* for non-css3 browsers */
	xbackground: #E6E6E6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#909090', GradientType=1); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#909090)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #ccc,  #909090); /* for firefox 3.6+ */ 
    position: absolute;    
    left: 0;
    top: 0;
}

.mstrmojo-ElasticTextArea TEXTAREA {
	background: #FFFFCC;
}
    
.mstrmojo-ElasticTextAreaContent {position: relative;}
.mstrmojo-ElasticTextArea .eta-bar {
    height: 1em;
    line-height: 1.1em;
    width: 100%;    
    font-family: Arial;
    font-size: inherit;
    padding-top: 1px;
    xtext-shadow: #FFFFFF 1px 0px;
    text-align: center;
}

.mstrmojo-ElasticTextArea .eta-tip {
    background: url("images/tri-red.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    height: 15px;
    bottom: -10px;
    width: 15px;
}

.mstrmojo-ElasticTextArea .eta-text {
    border: 1px solid #ccc;
    overflow: hidden;   
    font-family: Tahoma,Arial,Verdana;
    font-size: inherit;
    padding: 0;
    margin: 0;
    resize: none;
}

.mstrmojo-ElasticTextAreaButton {
    background: url("images/Blue.png") no-repeat scroll 0 0 transparent;    
    cursor: pointer;
    height: 16px;
    width: 17px;
}
.mstrmojo-DropDownButton-iconNode.mstrmojo-ElasticTextAreaButton-iconNode {
	background: none;
}

.mstrmojo-ElasticTextAreaButton.filled.editing,
.mstrmojo-ElasticTextAreaButton.editing {
    background: url("images/Blue_edit.png") no-repeat scroll 0 0 transparent;    
}

.mstrmojo-ElasticTextAreaButton.filled {
    background: url("images/Blue_edit_txt.png") no-repeat scroll 0 0 transparent;    
}

.mstrmojo-ElasticTextAreaButton:hover {
    background: url("images/Blue_edit.png") no-repeat scroll 0 0 transparent;    
}

/* Transaction end */